
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

  <style>
    :host {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 14px;
      color: #333;
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }


    /* .has-search .form-control {
      padding-left: 2.375rem;
    }

    .has-search .form-control-feedback {
      position: absolute;
      z-index: 2;
      display: block;
      width: 2.375rem;
      height: 2.375rem;
      line-height: 2.375rem;
      text-align: center;
      pointer-events: none;
    } */
  
    
  
   

  </style>

  <div class="d-flex flex-column min-vh-100">
   
    <app-header></app-header>
    <!-- <div class = "container my-5 py-5 ">
      <div class = "row mt-4 pt-4"></div>
    </div> -->
      <!-- <div class = "row my-3 py-3"><h1 class = "display-4 mx-auto font-weight-bolder">STOCK SEARCH</h1></div>
        <div class = "row">
          <div class = "input-group col-md-4 mx-auto" style = "border-radius: 15%; border: 1px solid #7545fa;">
            <input class="form-control py-2 border-right-0 border-left-0" type="text" placeholder="Enter stock name" id="search-input">
            <span class="input-group-append">
                <button class="btn btn-outline-secondary border-left-0 border-right-0" type="button">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </span>
          </div>
        </div> -->
        <router-outlet></router-outlet>
        <app-footer class= "mt-auto"></app-footer>
    
    

      
    
    
    <!-- <div class = "container">
        <div class = "row">
          <div class="toolbar" role="banner">
            <h2 class = "ml-3">Stock Search </h2>
            <div class="container">
              <div class = "row float-right">
              
                  <button name="search" value="search" type="button" class='col col-auto'>Search</button>
                
                  <button name="watchlist" value="list" type="button" class='col col-auto'>Watchlist</button>
                
                  <button name="portfolio" value="info" type="button" class='col col-auto'>Portfolio</button>
                
              </div>
            </div>
          </div>
        </div>
      <div class = "row pt-4 mt-4"></div>
      <div class = "row pt-5 mt-5">
        <h1 class=" mx-auto display-4 py-2 text-truncate" style = "font-weight: bolder;">STOCK SEARCH</h1>
      </div>
        <div class = "row pt-">
          <div class = "input-group">
            <input type="text" class="form-control" placeholder="Enter stock name">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="button">
              <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>
        
      </div> -->
      
    </div>





<!-- Toolbar -->

